---
import entries from "../json/2021.json";
import { slugify } from "../lib/slugify.js";
const title = "learn--astro";
---
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<style>
</style>
<body>

<h1>{title}</h1>

<h2>entries</h2>

<ul>
{ entries.map(({date, title}) => {
	<li><a href={`/entry/${slugify(date, title)}`}>{title}</a> ({date})</li>
})}
</ul>

</body>
</html>
