---
const title = "learn--astro";
---
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<style>
</style>
<body>

<h1>{title}</h1>

</body>
</html>
