---
const title = "plain astro page 1";
---
<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<style>
figure {
	display: block;
}
</style>
<body>
<h1>{title}</h1>
<p>Hello.</p>

<figure>
<img src="./image/astro.png">
<figcaption>Astro logo, embedded using relative path</figcaption>
</figure>

<figure>
<img src={Astro.resolve("./image/astro.png")}>
<figcaption>Astro logo, embedded using relative path over <code>Astro.resolve()</code></figcaption>
</figure>

</body>
