---
export async function getStaticPaths() {
	return [
		{ params: { slug: 'test' }},
		{ params: { slug: 'hello' }},
		{ params: { slug: 'aloha' }},
	]
}
const { slug } = Astro.request.params;
console.log(Astro.request.params);
---
<html>
<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width">
<title>named params: {slug}</title>
<body>
<h1>named params: {slug}</h1>
<p>Hello.</p>
</body>
</html>
